header{
   
    height: 100%;
}
.fontimage{
    height: 400px;
    margin-top: 50px;
}
#introimg{
    margin-top: 50px;
}
#aboutdescription{
    margin-left: 5%;
    margin-right: 5%;
}
.member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  height: 300px;
}

 .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
 .member .member-info-content {
  margin-top: 50px;
  transition: margin 0.2s;
}

.member:hover .member-info {
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: 0.4s;
}

.member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

.member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

.member .social {
  margin-top: 15px;
}

.member .social a {
  transition: none;
  color: #fff;
}

.member .social a:hover {
  color: #007bff;
}

.member .social i {
  font-size: 18px;
  margin: 0 2px;
}