

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    






    
    <title>Preskilet</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/materialize.min.js"></script>
    
    
</head>
<body>

    <div class="topnav" id="myTopnav" style="width: 100%;">
        <a href="https://preskilet.herokuapp.com" class="active"><i class="fa fa-fw fa-home"></i> Preskilet</a>
    </div>



        
        
    <div class="row">
        
        <div class="col m5 s12 offset-m1" >
            <h2 id="htag1">Welcome to platform for developing your soft skills</h2>
        </div>
        <div class="col m5 s12 ">
            <img src="images/i1.png" alt="" height="10%" width="100%" style="border-radius: 10%;" id="people">
        </div>
    </div>
    <br>
    <div  id="sigingooglebutton">
        <center>                  
                <div class='g-sign-in-button' id="sigingooglebutton">
                    <div class=content-wrapper>
                        <a href="/auth/google">
                            <div class='logo-wrapper'>
                                <img src='https://developers.google.com/identity/images/g-logo.png'>
                            </div>  
                            <span class='text-container'><span>Sign in with Google</span>
                        </a>
                    </div>  
                </div>
        </center>    
        <center style="color:#2977c9">to use our service just sign in with google</center>
        
    </div>
    <br>
    <div class="row" style="background-color:whitesmoke" id="div2">
        
        <div class="col m5 s12 offset-m1" style="color: rgba(0,0,0,0.9);">
            <img src="images/i2.png" alt="" height="100%" width="100%" style="background-color: whitesmoke;" >
        </div>

        <div class="col m5 s12 offset-m1" style="color: rgba(0,0,0,0.9);">
            <h2  id="htag2">Present your soft skill set with preskilet</h2>
        </div>




    </div>
    <br><br>
    <div class="row">
        
        <div class="col m5 s12 offset-m1" style="color: rgba(0,0,0,0.9);">
            
            <img src="images/i3.jpg" alt="" height="59%" width="59%" class="limage">
            <h3 class="htag3">Get graded by all users to improve your soft skills</h3>
            
        </div>

        <div class="col m5 s12 offset-m1" style="color: rgba(0,0,0,0.9);" id="lastdiv">
            
            <img src="images/i4.jpg" alt="" height="61%" width="61%" class="limage">
            <h3 class="htag3">Grade other users to improve thier soft skills</h3>
            
        </div>



    </div>


    <footer class="page-footer" style="color: black;background-color: whitesmoke;">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
            <img src="images/headimg2.png" alt="" height="39px" width="95px">
            <p class="text-lighten-4">preskilet a platform for developing and improving your soft skill set.Use this platform for professional communication</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 >Useful Links</h5>
                <ul>
                <li><a class="black-text " href="#!">privacy policy</a></li>
                <li><a class="black-text " href="#!">terms and conditions</a></li>
                <li><a class="black-text " href="#!">about us</a></li>
                
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright" style="color: black;background-color: whitesmoke;">
            <div class="container">
            © 2020 Copyright by preskilet
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
            
   
          

</body>

<script>

$( document ).ready(function() {
    $('#htag1').hide()
    $('#htag1').fadeIn(900)
});

</script>
</html>