<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Preskilet</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/preloader.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/materialize.min.js"></script>
    <script>
        //Preloader 
        $(window).on('load', function() {
              $(".sk-cube-grid").fadeOut();
            $("#preloder").fadeOut("slow");
        });
    </script>
</head>

<div id="preloder"> 
    
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
            <b style="font-size:15px;">SkillHancer<br> 
            
    </div>
</div>
<body>
	
        
  

    <div class="row">
        
        <div class="col m5 s12 offset-m1" >
            <h2 id="htag1">Welcome To The Platform For Developing Your Soft Skills</h2>
        </div>
        <div class="col m5 s12 ">
            <img src="images/i1.png" alt="" height="10%" width="100%" style="border-radius: 10%;" id="people">
        </div>
    </div>
    <br>
    <div  id="sigingooglebutton">
        <center>                  
                <div class='g-sign-in-button' id="sigingooglebutton">
                    <div class=content-wrapper>
                        <a href="/auth/google">
                            <div class='logo-wrapper'>
                                <img src='https://developers.google.com/identity/images/g-logo.png'>
                            </div>  
                            <span class='text-container'><span>Sign in with Google</span>
                        </a>
                    </div>  
                </div>
        </center>    
        <center style="color:#2977c9">To Use Our Services Just Sign In With Google</center>
        
    </div>
    <br>
    <div class="row" style="background-color:whitesmoke" id="div2">
        
        <div class="col m5 s12 offset-m1" style="color: rgba(0,0,0,0.9);">
            <img src="images/i2.png" alt="" height="100%" width="100%" style="background-color: whitesmoke;" >
        </div>

        <div class="col m5 s12 offset-m1" style="color: rgba(0,0,0,0.9);">
            <h2  id="htag2">Prove Yourself In Front Of The World</h2>
        </div>




    </div>
    <br><br>
    <div class="row">
        
        <div class="col m5 s12 offset-m1" style="color: rgba(0,0,0,0.9);">
            
            <img src="images/i3.jpg" alt="" height="59%" width="59%" class="limage">
            <h3 class="htag3">Get The World To Your Help</h3>
            
        </div>

        <div class="col m5 s12 offset-m1" style="color: rgba(0,0,0,0.9);" id="lastdiv">
            
            <img src="images/i4.jpg" alt="" height="61%" width="61%" class="limage">
            <h3 class="htag3">Lend A Hand To Others</h3>
            
        </div>



    </div>


    <footer class="page-footer" style="color: black;background-color: whitesmoke;">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
            <img src="images/headimg2.png" alt="" height="39px" width="95px">
            <p class="text-lighten-4">Skillhancer is a Platform for Developing and Improving Your Soft Skills. Use this Platform for Professional Communication</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 >Useful Links</h5>
                <ul>
                <li><a class="black-text " href="/privacypolicy">Privacy Policy</a></li>
                <li><a class="black-text " href="terms and conditions.html">Terms and Conditions</a></li>
                <li><a class="black-text " href="#!">About Us</a></li>
                
                </ul>
            </div>
            </div>
        </div>
        <div class="footer-copyright" style="color: black;background-color: whitesmoke;">
            <div class="container">
            © 2020 Copyright by Skillhancer
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
            
   
          

</body>

<script>

$( document ).ready(function() {
    $('#htag1').hide()
    $('#htag1').fadeIn(900)
});

</script>

</html>