<html>
<head>

    <title>My Profile</title>
    <link rel="icon" href="/images/logo.png">
    <!--icons  -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="css/materialize.min.css">
     <link rel="stylesheet" href="css/materialize.css">
     <link rel="stylesheet" href="css/navbar.css">
     <link rel="stylesheet" href="css/body.css">
     <link rel="stylesheet" href="css/myprofile.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/preloader.css">



     <!-- Compiled and minified JavaScript -->
     <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
     <script src="js/materialize.min.js"></script>
     <script src="js/materialize.js"></script>
     <script type="text/javascript" src="js/navbar.js"></script>
     <script>
        //Preloader 
        $(window).on('load', function() {
              $(".sk-cube-grid").fadeOut();
            $("#preloder").fadeOut("slow");
        });
    </script>
     <meta content="width=device-width, initial-scale=1" name="viewport" />

</head>

<div id="preloder"> 
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
            <b style="font-size:15px;">SkillHancer<br> 
            
    </div>
</div>


<body>
   
    <div class="topnav" id="myTopnav" style="width: 100%;">
        <a href="/mainpage/" class="active"><i class="fa fa-fw fa-home"></i> SkillHancer</a>
        <a href="/upload"><i class="fa fa-fw fa-cloud-upload "></i> Upload Presentation</a>
        <a href="/mainpage/myprofile"><i class="fa fa-fw fa-user"></i> Profile</a>
        <a href="/auth/logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="material-icons">apps</i>
        </a>
        </div>
    <br>

   <!-- profile card starts here -->

    <div class="row">
        <div class="col s12 m9 offset-m1">
            <div class="card white">
                <div class="card-content white-text " style="background: linear-gradient(-135deg, #36d1dc,#5b86e5 );">
                    <span class="card-title" ><img id="profileimage"   width="155" height="150" style=" border-radius: 50%; border: solid 3px whitesmoke;" src="images/833.gif"> 
                    </span>
                </div>
                <div class="row"> 
                    <div class="card-action col s6" style="padding-bottom: 5px;padding-left: 5%;">
                        <img class="tooltipped" src="images/beginer.jpg" alt="images/833.gif" data-position="top" data-tooltip="Medal Earned" height="80px" width="80px" id="medal">
                        <div class="row" id="personalinfo">
                            <!-- personal info will appended here -->
                        </div>
                    </div>
                    <div class="card-action col s6">
                        <video style="width:100%;height:30%;border-radius: 5px;" controls>
                            <source src="mpe.mp4" type="video/mp4">
                          </video>
                    </div>
                </div>
        
            </div> 
        </div>
        
        <!-- profile card ends here -->

        <!-- avarge card -->
       
        <div class="col s12 m2">
            <div class="card white">
                <div class="card-content black-text">
                    <div id="floatavg">
                        <!-- Float button with average Number will go here -->
                    </div>
                    <br>
                    <div id="progress_bar">
                        <!-- Progress bar will go here -->
                    </div> 
                    <br>
                    <div id="avgcard">
                        
                        <div class="row ">
                            <div class="col m6 s5 offset-s1 blue darken-1 tooltipped" data-position="top" data-tooltip="Eye Contact"><br><center><i class="material-icons  Medium" style="color:white">remove_red_eye </i></center><center><b style="color:white" id="e">0</b></center></div>
                            <div class="col m6 s5 yellow darken-2 tooltipped" data-position="top" data-tooltip="Voice"><br><center><i class="material-icons  Medium" style="color:white">record_voice_over </i></center> <center><b style="color:white" id="v">0</b></center></div>
                            <div class="col m6 s5 offset-s1 green darken-1 tooltipped" data-position="bottom" data-tooltip="Confidence"><br><center><i class="material-icons  Medium" style="color:white">portrait </i></center> <center><b style="color:white" id="c">0</b></center></div>
                            <div class="col m6 s5  red darken-1 tooltipped" data-position="bottom" data-tooltip="Knowledge"><br><center><i class="material-icons  Medium" style="color:white">wb_incandescent </i></center> <center><b style="color:white" id="k">0</b></center></div>
                       
                        </div>
                        <!-- all avg details go here -->
                    </div>
                </div>
                <div class="card-action blue darken-1" >
                    <center>
                    <a href="#" style="color: white;">Average</a>
                    <a href="#" style="color: white;">Rating</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
        <!-- average ends -->


    <!-- video cards starts here -->
    <div class="row" id="parent">
        <!-- videos will be appended here -->
    </div>
    <!-- video cards ends here -->

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Profile Link </h4>
        <input type="text" id="link" style="color: #1565c0;" readonly></input>
        </div>
        <div class="modal-footer">
        <button class="waves-effect blue darken-1 btn" onclick="copyProfile()">Copy Link <i class="material-icons right">content_copy</i></button>
        </div>
    </div>

    

</body>

<script>

//hover to play video
function playVideo(x)
{
    x.children[0].children[0].play()
}

//hover to pause video
function normal(x)
{
    x.children[0].children[0].pause()
}

//function for removing video

function removeVideo(vid2,path)
{
    var path_id = '#'+vid2[vid2.length-1]+'parent';
    var path_reveal_id = '#'+vid2[vid2.length-1]+'reveal'
    var vid = vid2.substring(0, vid2.length-1);
    var v = confirm("Are You Sure?")
    if(v)
    {
        console.log("This is path:",vid)
        console.log("This is mail:",path)
 
        $(path_reveal_id).empty()
        var s = '<br><br><center><h5 style="color: red;">please wait removing Video<br><br><img src="images/833.gif" height="50px" width="50px"></h5></center>'
        $(path_reveal_id).hide()
        $(path_reveal_id).append(s)
        $(path_reveal_id).fadeIn(600)
        
        $.ajax({
            url:'/mainpage/remove',
            type:'GET',
            data:{
                'vid_name' : vid,
                'vid_path' : path
            },
            success:function(para)
            {
      
                $(path_reveal_id).hide()
                $(path_id).fadeOut(600)
                M.toast({html: 'Video Removed !',displayLength:2000})
                $('#progress_bar').empty()
                $('#floatavg').empty()
                console.log("User Details hhh:",para.user[0].avgeye)
                if(para.user[0].avgall == 0)
                {
                    $('#floatavg').append('<center><a class="btn-floating btn-large red" >'+para.user[0].avgall+'</a></center>')
                    w2 = '<div class="determinate" style="width: 0%;background-color: green;"></div>'
                } 
                else if(para.user[0].avgall <= 2)
                {
                    $('#medal').attr("src", "images/bronze.png")
                    // $('.tooltipped').tooltip("html","Bronze Medal");
                    $('#floatavg').append('<center><a class="btn-floating btn-large red" >'+para.user[0].avgall+'</a></center>')
                    l = para.user[0].avgall * 20
                    w2 = '<div class="determinate" style="width: '+l+'%;background-color: red;"></div>'
                }
                else if(para.user[0].avgall>2 && para.user[0].avgall<=4)
                {
                    $('#medal').attr("src", "images/silver.png")
                    // $('.tooltipped').tooltip("html","Silver Medal");
                    $('#floatavg').append('<center><a class="btn-floating btn-large orange" >'+para.user[0].avgall+'</a></center>')
                    l = para.user[0].avgall * 20
                    w2 = '<div class="determinate" style="width: '+l+'%;background-color: orange;"></div>'
                }
                else
                {
                    $('#medal').attr("src", "images/gold.png")
                    $('#floatavg').append('<center><a class="btn-floating btn-large green" >'+para.user[0].avgall+'</a></center>')
                    l = para.user[0].avgall * 20
                    w2 = '<div class="determinate" style="width: '+l+'%;background-color: green;"></div>'
                }
                //setting medal ends here 

                var w1 = '<div class="progress" style="background-color:#b0bec5 ;">'
                var w3 = '</div>'
                var w = w1+w2+w3;
                $('#progress_bar').append(w)
                $('#e').html(para.user[0].avgeye)
                $('#v').html(para.user[0].avgvoice)
                $('#c').html(para.user[0].avgconfidence)
                $('#k').html(para.user[0].avgknowledge)
                setTimeout(function(){
                    location.reload();
                },1000);
            }
        })
    }
    
}

//function for copying link
function copyProfile() {
  var copyText = document.getElementById("link");
  copyText.select();
  document.execCommand("copy");
  M.toast({html: 'Link Copied',displayLength:2000})
}



$(document).ready(function(){
    $('.tooltipped').tooltip();
    //initializing modal
    $('.modal').modal();


    //ajax call onload of page asking for data
    $.ajax({
        url:'/mainpage/getMyDetails',
        type:'GET',
        success:function(para){
            console.log(para)
            $("#profileimage"). attr("src",para.user.ipath);
            $("#avgrate").append(para.user.avgall);
            var w2;
            var l;
            //Setting Medal
            if(para.user.avgall == 0)
            {
                $('#floatavg').append('<center><a class="btn-floating btn-large red" >'+para.user.avgall+'</a></center>')
                w2 = '<div class="determinate" style="width: 0%;background-color: green;"></div>'
            } 
            else if(para.user.avgall <= 2)
            {
                $('#medal').attr("src", "images/bronze.png")
                $('#floatavg').append('<center><a class="btn-floating btn-large red" >'+para.user.avgall+'</a></center>')
                l = para.user.avgall * 20
                w2 = '<div class="determinate" style="width: '+l+'%;background-color: red;"></div>'
            }
            else if(para.user.avgall>2 && para.user.avgall<=4)
            {
                $('#medal').attr("src", "images/silver.png")
                $('#floatavg').append('<center><a class="btn-floating btn-large orange" >'+para.user.avgall+'</a></center>')
                l = para.user.avgall * 20
                w2 = '<div class="determinate" style="width: '+l+'%;background-color: orange;"></div>'
            }
            else
            {
                $('#medal').attr("src", "images/gold.png")
                $('#floatavg').append('<center><a class="btn-floating btn-large green" >'+para.user.avgall+'</a></center>')
                l = para.user.avgall * 20
                w2 = '<div class="determinate" style="width: '+l+'%;background-color: green;"></div>'
            }
            //setting medal ends here 

            var w1 = '<div class="progress" style="background-color:#b0bec5 ;">'
            var w3 = '</div>'
            var w = w1+w2+w3;
            $('#progress_bar').append(w)
            var str1 = "<p><b>Name :</b> "+para.user.name+"</p><p><b>Mail :</b> "+para.user.mail+""
            var str2 = "<p><a class='waves-effect blue darken-1 btn modal-trigger' href='#modal1'>Share Profile<i class='material-icons right'>share</i></a></p>"

            var str = str1+str2
            $("#personalinfo").append(str)

            $("#link").val("https://preskilet.herokuapp.com/mainpage/sharedProfile?mail="+para.user.mail)
            $('#e').html(para.user.avgeye)
            $('#v').html(para.user.avgvoice)
            $('#c').html(para.user.avgconfidence)
            $('#k').html(para.user.avgknowledge)
            for(let i = 0; i<para.video.length;i++)
            {   
                
                if(i%3 == 0)
                {
                    s1 ='<div class="col  m3 offset-m1 " id="'+i+'parent"><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image" >'
                }
                else 
                {
                    s1 ='<div class="col  m3 " id="'+i+'parent"><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image">'
                }
                console.log(s1)

                //var s1 ='<div class="col  m3" ><div class="card" ><div class="card-image" style="border:1px solid black;background:black;">'
                var s2 ='<video width="100%" class="activator" controls muted><source src="'+para.video[i].path+'" type="video/mp4"></video></div>'
                var s3 ='<div class="card-content" id="content"><span class="card-title grey-text text-darken-4">'+para.video[i].title+'<i class="material-icons right activator " style="cursor: pointer;">info</i></span><p><i class="material-icons left " style="color: #1565c0;">account_circle</i><a id='+para.video[i].mail+' href="/mainpage/profile?pmail='+para.video[i].mail+'" style="cursor: pointer;color: #1565c0;">'+para.video[i].name+'</a></p><br>' 
                var s4 ='<span class="badge activator" style="color: #1565c0;float: left; padding-left: 0%; margin: 0%;cursor: pointer;"><i class="material-icons left">remove_red_eye</i>'+parseInt(((para.video[i].avgeye+para.video[i].peeravgeye)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">record_voice_over</i>'+parseInt(((para.video[i].avgvoice+para.video[i].peeravgvoice)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">portrait</i>'+parseInt(((para.video[i].avgconfidence+para.video[i].peeravgconfidence)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">wb_incandescent</i>'+parseInt(((para.video[i].avgknowledge+para.video[i].peeravgknowledge)/2))+'</span></div>'
                var s5 ='<div class="card-reveal" id="'+i+'reveal"><span class="card-title black-text text-darken-4">Grade Presentation<i class="material-icons right">close</i></span>'
                var s6 =''
                var s7 = '<br><i class="material-icons left medium" style="color:green">check_circle</i><br><b style="color:green">Cannot Grade Own Video.!</b><br><br>'
                var s8 = '<p><b>Description : </b>'+para.video[i].description+'</p><p><b>Mail : </b>'+para.video[i].mail+'</p><p><center><a class="waves-effect red btn" id="'+para.video[i].vname+''+i+'" name="'+para.video[i].path+'" onclick="removeVideo(this.id,this.name)"><i class="material-icons right">delete_forever</i>Remove Video</a></center></p></div></div></div>'
                var str =s1+s2+s3+s4+s5+s6+s7+s8;
                var did = '#'+i+'dimention'
                $('#parent').append(str)
                

            }
        }
    })
})
</script>
</html>