<html>
<head>

    <title>Profile</title>
    <link rel="icon" href="/images/logo.png">
    <!--icons  -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="css/materialize.min.css">
     <link rel="stylesheet" href="css/materialize.css">
     <link rel="stylesheet" href="css/navbar.css">
     <link rel="stylesheet" href="css/body.css">
     <link rel="stylesheet" href="css/profile.css">
     <link rel="stylesheet" href="css/introductionvideo.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/preloader.css">




     <!-- Compiled and minified JavaScript -->
     <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
     <script src="js/materialize.min.js"></script>
     <script src="js/materialize.js"></script>
     <script type="text/javascript" src="js/navbar.js"></script>
     <script>
        //Preloader 
        $(window).on('load', function() {
              $(".sk-cube-grid").fadeOut();
            $("#preloder").fadeOut("slow");
        });
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<div id="preloder"> 
    
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
            <b style="font-size:15px;">SkillHancer<br> 
            
    </div>
</div>
<body>
   
    <div class="topnav" id="myTopnav" style="width: 100%;">
        <a href="/mainpage/" class="active"><i class="fa fa-fw fa-home"></i> SkillHancer</a>
        <a href="/upload"><i class="fa fa-fw fa-cloud-upload "></i> Upload Presentation</a>
        <a href="/mainpage/myprofile"><i class="fa fa-fw fa-user"></i> Profile</a>
        <a href="/auth/logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="material-icons">apps</i>
        </a>
        </div>
    <br>

   <!-- profile card starts here -->
    <div class="row">
        <div class="col s12 m9 offset-m1">
            <div class="card white">
                <div class="card-content white-text " style="background: #1e88e5;">
                    <span class="card-title" ><img id="profileimage"  width="155" height="150" style=" border-radius: 50%; border: solid 3px whitesmoke;" src="images/833.gif"> 
                    </span>
                </div>
                <div class="card-action" style="padding-bottom: 5px;">
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="col s12">
                                <p style="color: green;">Graded By Expert</p>
                                <img src="images/beginer.jpg" alt="images/833.gif" height="45px" width="45px" id="medal_default_expert" >
                                <img src="images/bronze.png" alt="images/833.gif" height="45px" width="45px" id="medal_bronze_expert" style="opacity: 0.2;">
                                <img src="images/silver.png" alt="images/833.gif" height="45px" width="45px" id="medal_silver_expert" style="opacity: 0.2;">
                                <img src="images/gold.png" alt="images/833.gif" height="45px" width="45px" id="medal_gold_expert" style="opacity: 0.2;">
                                <br>
                            </div>
                            <div class="col s12">
                                <p style="color: orangered;">Graded By Peer</p>
                                <img src="images/beginer.jpg" alt="images/833.gif" height="45px" width="45px" id="medal_default_peer" >
                                <img src="images/bronze.png" alt="images/833.gif" height="45px" width="45px" id="medal_bronze_peer" style="opacity: 0.2;">
                                <img src="images/silver.png" alt="images/833.gif" height="45px" width="45px" id="medal_silver_peer" style="opacity: 0.2;">
                                <img src="images/gold.png" alt="images/833.gif" height="45px" width="45px" id="medal_gold_peer" style="opacity: 0.2;">
                            </div>
                            
                            <div class="col s12" id="personalink">
                            
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <br>
                            <div id="introductionvideo">
                                <img src="images/nointro.PNG" id="intro" style="border: 2px solid black;">
                            </div>
                            <div  id="personalinfo">
                                <!-- personal info will appended here -->
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        
        <!-- profile card ends here -->

        <!-- avarge card -->
        <div class="col s12 m2">
            <div class="card white">
                <div class="card-content black-text">
                    
                    
                    <div id="floatavg">
                        <!-- Float button with average Number will go here -->
                    </div>
                    <br>
                    <div id="progress_bar">
                        <!-- Progress bar will go here -->
                    </div> 
                    <br>
                    <div id="avgcard">
                        <div class="row ">
                            <div class="col m6 s5 offset-s1 blue darken-1 tooltipped" data-position="top" data-tooltip="Eye Contact"><br><center><i class="material-icons  Medium" style="color:white">remove_red_eye </i></center><center><b style="color:white" id="e">0</b></center></div>
                            <div class="col m6 s5 yellow darken-2 tooltipped" data-position="top" data-tooltip="Voice"><br><center><i class="material-icons  Medium" style="color:white">record_voice_over </i></center> <center><b style="color:white" id="v">0</b></center></div>
                            <div class="col m6 s5 offset-s1 green darken-1 tooltipped" data-position="bottom" data-tooltip="Confidence"><br><center><i class="material-icons  Medium" style="color:white">portrait </i></center> <center><b style="color:white" id="c">0</b></center></div>
                            <div class="col m6 s5  red darken-1 tooltipped" data-position="bottom" data-tooltip="Knowledge"><br><center><i class="material-icons  Medium" style="color:white">wb_incandescent </i></center> <center><b style="color:white" id="k">0</b></center></div>
                        
                        </div>
                        <br>
                        <center><h3 id="gradecount">0</h3></center>
                        
                        <center>Video Graded</center>
                        <!-- all avg details go here -->
                    </div>
                </div>
            </div>
        </div>
        <!-- average ends -->
    </div>
        


    <!-- video cards starts here -->
    <div class="row" id="parent">
        <!-- videos will be appended here -->
    </div>
    <!-- video cards ends here -->

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
        <h4>Profile Link </h4>
        <input type="text" id="link" style="color: #1565c0;" readonly></input>
        </div>
        <div class="modal-footer">
        <button class="waves-effect blue darken-1 btn" onclick="copyProfile()">Copy Link <i class="material-icons right">content_copy</i></button>
        </div>
    </div>

<script>

//hover to play video
function playVideo(x)
{
    x.children[0].children[0].play()
}

//hover to pause video
function normal(x)
{
    x.children[0].children[0].pause()
}

//function for copying link
function copyProfile() {
  var copyText = document.getElementById("link");
  copyText.select();
  document.execCommand("copy");
  M.toast({html: 'Link Copied',displayLength:2000})
}

// To maintain mod 3 organization
var cout_for_graded = -1
var cout_for_graded2 = -1
    
$(document).ready(function(){
    $('.tooltipped').tooltip();
    //initializing modal
    $('.modal').modal();
    
    // hiding medals
    $('#medal_default_peer').hide();
    $('#medal_bronze_peer').hide();
    $('#medal_silver_peer').hide();
    $('#medal_gold_peer').hide();

    $('#medal_default_expert').hide();
    $('#medal_bronze_expert').hide();
    $('#medal_silver_expert').hide();
    $('#medal_gold_expert').hide();


    //ajax call onload of page asking for data
    $.ajax({
        url:'/mainpage/getDetails',
        type:'GET',
        data:{
            'email':window.location.href.split('=')[1]
        },
        success:function(para){
            console.log(para)
            if(para.user.ppath == 'na')
            {
                $("#profileimage"). attr("src",para.user.ipath);
            } 
            else
            {
                $("#profileimage"). attr("src",para.user.ppath);
            }
            $("#avgrate").append(para.user.avgall);
            $('#gradecount').text(para.user.gradecount)
            var w2;
            var l;
            
            // introduction video
            if(para.user.intropath != 'na')
            {
                $('#introductionvideo').empty()
                $('#introductionvideo').append('<video src="'+para.user.intropath+'" id="intro" controls></video>')
            }
            
            //Setting Expert Medal 
            if(para.user.avgall == 0)
            {
                $('#medal_bronze_expert').show();
                $('#medal_silver_expert').show();
                $('#medal_gold_expert').show();
                const element =  document.querySelector('#medal_default_expert')   
                $('#medal_default_expert').show();
                element.classList.add('animated', 'heartBeat')

                $('#floatavg').append('<center><a class="btn-floating btn-large red" >'+para.user.avgall+'</a></center>')
                w2 = '<div class="determinate" style="width: 0%;background-color: green;"></div>'
            } 
            else if(para.user.avgall <= 2)
            {
                $('#medal_default_expert').show();
                $('#medal_silver_expert').show();
                $('#medal_gold_expert').show();
                const element =  document.querySelector('#medal_bronze_expert')   
                $('#medal_bronze_expert').show();
                $('#medal_bronze_expert').css('opacity', '1');
                element.classList.add('animated', 'heartBeat')

                $('#floatavg').append('<center><a class="btn-floating btn-large red" >'+para.user.avgall+'</a></center>')
                l = para.user.avgall * 20
                w2 = '<div class="determinate" style="width: '+l+'%;background-color: red;"></div>'
            }
            else if(para.user.avgall>2 && para.user.avgall<=4)
            {
                $('#medal_default_expert').show();
                $('#medal_bronze_expert').show();
                $('#medal_gold_expert').show();
                const element =  document.querySelector('#medal_silver_expert')   
                $('#medal_bronze_expert').css('opacity', '1');
                $('#medal_silver_expert').show();
                $('#medal_silver_expert').css('opacity', '1');
                element.classList.add('animated', 'heartBeat')
                
                $('#floatavg').append('<center><a class="btn-floating btn-large orange" >'+para.user.avgall+'</a></center>')
                l = para.user.avgall * 20
                w2 = '<div class="determinate" style="width: '+l+'%;background-color: orange;"></div>'
            }
            else
            {
                $('#medal_default_expert').show();
                $('#medal_bronze_expert').show();
                $('#medal_silver_expert').show();
                const element =  document.querySelector('#medal_gold_expert')   
                $('#medal_bronze_expert').css('opacity', '1');
                $('#medal_silver_expert').css('opacity', '1');
                $('#medal_gold_expert').show();
                $('#medal_gold_expert').css('opacity', '1');
                element.classList.add('animated', 'heartBeat')
                
                $('#floatavg').append('<center><a class="btn-floating btn-large green" >'+para.user.avgall+'</a></center>')
                l = para.user.avgall * 20
                w2 = '<div class="determinate" style="width: '+l+'%;background-color: green;"></div>'
            }
            //setting expert medal ends here 

            //Setting Peer Medal 
            if(para.user.peeravgall == 0)
            {
                $('#medal_bronze_peer').show();
                $('#medal_silver_peer').show();
                $('#medal_gold_peer').show();
                const element =  document.querySelector('#medal_default_peer')   
                $('#medal_default_peer').show();
                element.classList.add('animated', 'heartBeat')
            } 
            else if(para.user.peeravgall <= 2)
            {
                $('#medal_default_peer').show();
                $('#medal_silver_peer').show();
                $('#medal_gold_peer').show();
                const element =  document.querySelector('#medal_bronze_peer')   
                $('#medal_bronze_peer').show();
                $('#medal_bronze_peer').css('opacity', '1');
                element.classList.add('animated', 'heartBeat')
            }
            else if(para.user.peeravgall>2 && para.user.peeravgall<=4)
            {
                $('#medal_default_peer').show();
                $('#medal_bronze_peer').show();
                $('#medal_gold_peer').show();
                const element =  document.querySelector('#medal_silver_peer')   
                $('#medal_bronze_peer').css('opacity', '1');
                $('#medal_silver_peer').show();
                $('#medal_silver_peer').css('opacity', '1');
                element.classList.add('animated', 'heartBeat')
            }
            else
            {
                $('#medal_default_peer').show();
                $('#medal_bronze_peer').show();
                $('#medal_silver_peer').show();
                const element =  document.querySelector('#medal_gold_peer')   
                $('#medal_bronze_peer').css('opacity', '1');
                $('#medal_silver_peer').css('opacity', '1');
                $('#medal_gold_peer').show();
                $('#medal_gold_peer').css('opacity', '1');
                element.classList.add('animated', 'heartBeat')
            }
            //setting peer medal ends here 

            //appending personal info 
            var w1 = '<div class="progress" style="background-color:#b0bec5 ;">'
            var w3 = '</div>'
            var w = w1+w2+w3;
            $('#progress_bar').append(w)
            var str1 = "<p><b>Name :</b> "+para.user.name+"</p><p><b>Mail :</b> "+para.user.mail+"</p>"
            var str2 = "<br><p><a class='waves-effect blue darken-1 btn modal-trigger' href='#modal1'>Share Profile<i class='material-icons right'>share</i></a></p>"
            $("#personalinfo").append(str2)
            $("#personalink").append(str1)

            $("#link").val("https://preskilet.herokuapp.com/mainpage/sharedProfile?mail="+para.user.mail)
            $('#e').html(para.user.avgeye)
            $('#v').html(para.user.avgvoice)
            $('#c').html(para.user.avgconfidence)
            $('#k').html(para.user.avgknowledge)
           //appending personal info ends here

           //if flag is 1 then current user is viewing own profile Dont allow to grade
            if(para.flag == 1)
            {
                for(let i = 0; i<para.video.length;i++)
                {   
                    
                    if(i%3 == 0)
                    {
                        s1 ='<div class="col  m3 offset-m1 " ><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image">'
                    }
                    else 
                    {
                        s1 ='<div class="col  m3 " ><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image">'
                    }
                    console.log(s1)

                    //var s1 ='<div class="col  m3" ><div class="card" ><div class="card-image" style="border:1px solid black;background:black;">'
                    var s2 ='<video  class="activator" width="100%" = controls  muted><source src="'+para.video[i].path+'" type="video/mp4"></video></div>'
                    var s3 ='<div class="card-content" id="content"><span class="card-title  grey-text text-darken-4">'+para.video[i].title+'<i class="material-icons right activator" style="cursor:pointer">info</i></span><p><i class="material-icons left " style="color: #1565c0;">account_circle</i><a id='+para.video[i].mail+' href="/mainpage/profile?pmail='+para.video[i].mail+'" style="cursor: pointer;color: #1565c0;">'+para.video[i].name+'</a></p><br>' 
                    var s4 ='<span class="badge activator" style="color: #1565c0;float: left; padding-left: 0%; margin: 0%;cursor: pointer;"><i class="material-icons left">remove_red_eye</i>'+parseInt(((para.video[i].avgeye+para.video[i].peeravgeye)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">record_voice_over</i>'+parseInt(((para.video[i].avgvoice+para.video[i].peeravgvoice)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">portrait</i>'+parseInt(((para.video[i].avgconfidence+para.video[i].peeravgconfidence)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">wb_incandescent</i>'+parseInt(((para.video[i].avgknowledge+para.video[i].peeravgknowledge)/2))+'</span></div>'
                    var s5 ='<div class="card-reveal " id="reveal" ><span class="card-title black-text text-darken-4">Grade Presentation<i class="material-icons right">close</i></span>'
                    var s6 =''
                    var s7 = '<br><i class="material-icons left medium" style="color:green">check_circle</i><br><b style="color:green">Cannot Grade Own Video.!</b><br><br>'
                    var s8 = '<p><b>Description : </b>'+para.video[i].description+'</p><p><b>Mail : </b>'+para.video[i].mail+'</p></div></div></div>'
                    var str =s1+s2+s3+s4+s5+s6+s7+s8;
                    $('#parent').append(str)
                    cout_for_graded = i
                }
                
                //If no ungraded video make cout_for_graded =2 so first video will be mod 3 satisfied
                if(cout_for_graded ==-1)
                {
                    cout_for_graded = 2
                }

                for(let i = 0; i<para.gvideo.length;i++)
                {   
                    cout_for_graded++
                    if(cout_for_graded%3 == 0)
                    {
                        s1 ='<div class="col  m3 offset-m1 " ><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image" >'
                    }
                    else 
                    {
                        s1 ='<div class="col  m3 " ><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image">'
                    }
                    console.log(s1)

                    //var s1 ='<div class="col  m3" ><div class="card" ><div class="card-image" style="border:1px solid black;background:black;">'
                    var s2 ='<video  class="activator" width="100%"  controls muted><source src="'+para.gvideo[i].path+'" type="video/mp4"></video></div>'
                    var s3 ='<div class="card-content" id="content"><span class="card-title  grey-text text-darken-4">'+para.gvideo[i].title+'<i class="material-icons right activator" style="cursor: pointer;">info</i></span><p><i class="material-icons left " style="color: #1565c0;">account_circle</i><a id='+para.gvideo[i].mail+' href="/mainpage/profile?pmail='+para.gvideo[i].mail+'" style="cursor: pointer;color: #1565c0;">'+para.gvideo[i].name+'</a></p><br>' 
                    var s4 ='<span class="badge activator" style="color: #1565c0;float: left; padding-left: 0%; margin: 0%;cursor: pointer;"><i class="material-icons left">remove_red_eye</i>'+parseInt(((para.gvideo[i].avgeye+para.gvideo[i].peeravgeye)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">record_voice_over</i>'+parseInt(((para.gvideo[i].avgvoice+para.gvideo[i].peeravgvoice)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">portrait</i>'+parseInt(((para.gvideo[i].avgconfidence+para.gvideo[i].peeravgconfidence)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">wb_incandescent</i>'+parseInt(((para.gvideo[i].avgknowledge+para.gvideo[i].peeravgknowledge)/2))+'</span></div>'
                    var s5 ='<div class="card-reveal " id="reveal"><span class="card-title black-text text-darken-4">Grade Presentation<i class="material-icons right">close</i></span>'
                    var s6 =''
                    var s7 = '<br><i class="material-icons left medium" style="color:green">check_circle</i><br><b style="color:green">Cannot Grade Own Video.!</b><br><br>'
                    var s8 = '<p><b>Description : </b>'+para.gvideo[i].description+'</p><p><b>Mail : </b>'+para.gvideo[i].mail+'</p></div></div></div>'
                    var str =s1+s2+s3+s4+s5+s6+s7+s8;
                    $('#parent').append(str)
                }
            }
            else
            {
                for(let i = 0; i<para.video.length;i++)
                {   
                    if(i%3 == 0)
                    {
                        s1 ='<div class="col  m3 offset-m1 " ><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image" >'
                    }
                    else 
                    {
                        s1 ='<div class="col  m3 " ><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image">'
                    }
                    console.log(s1)

                    //var s1 ='<div class="col  m3" ><div class="card" ><div class="card-image" style="border:1px solid black;background:black;">'
                    var s2 ='<video  class="activator" width="100%"  controls  muted><source src="'+para.video[i].path+'" type="video/mp4"></video></div>'
                    var s3 ='<div class="card-content" id="content"><span class="card-title grey-text text-darken-4">'+para.video[i].title+'<i class="material-icons right  activator" style="cursor: pointer;">info</i></span><p><i class="material-icons left " style="color: #1565c0;">account_circle</i><a id='+para.video[i].mail+' href="/mainpage/profile?pmail='+para.video[i].mail+'" style="cursor: pointer;color: #1565c0;">'+para.video[i].name+'</a></p><br>' 
                    var s4 ='<div id="'+i+'rates"><span class="badge activator" style="float: left; padding-left: 0%; margin: 0%;cursor: pointer;"><i class="material-icons left">remove_red_eye</i>'+parseInt(((para.video[i].avgeye+para.video[i].peeravgeye)/2))+'</span><span class="badge activator" style="float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">record_voice_over</i>'+parseInt(((para.video[i].avgvoice+para.video[i].peeravgvoice)/2))+'</span><span class="badge activator" style="float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">portrait</i>'+parseInt(((para.video[i].avgconfidence+para.video[i].peeravgconfidence)/2))+'</span><span class="badge activator" style="float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">wb_incandescent</i>'+parseInt(((para.video[i].avgknowledge+para.video[i].peeravgknowledge)/2))+'</span></div></div>'
                    var s5 ='<div class="card-reveal " id="reveal"><span class="card-title black-text text-darken-4">Grade Presentation<i class="material-icons right">close</i></span>'
                    var s6 ='<div id="'+i+'reveal"><p><select style="display: block;"  id="'+i+'eye" name="eyecontact"><option value="" selected>Eye Contact</option><option value="1" >Eye Contact : 1 (Poor)</option><option value="2" >Eye Contact : 2 (Average)</option><option value="3" >Eye Contact : 3 (Good)</option><option value="4" >Eye Contact : 4 (Very Good)</option><option value="5" >Eye Contact : 5 (Excellent)</option></select></p>'
                    var s7 ='<p><select style="display: block;"  id="'+i+'voice" name="voice"><option value="" selected>Voice</option><option value="1" >Voice : 1 (Poor)</option><option value="2" >Voice : 2 (Average)</option><option value="3" >Voice : 3 (Good)</option><option value="4" >Voice : 4 (Very Good)</option><option value="5" >Voice : 5 (Excellent)</option></select></p>'
                    var s8 ='<p><select style="display: block;"  id="'+i+'confidence" name="confidence"><option value="" selected>Confidence</option><option value="1" >Confidence : 1 (Poor)</option><option value="2" >Confidence : 2 (Average)</option><option value="3" >Confidence : 3 (Good)</option><option value="4" >Confidence : 4 (Very Good)</option><option value="5" >Confidence : 5 (Excellent)</option></select></p>'
                    var s9 ='<p><select style="display: block;"  id="'+i+'knowledge" name="knowledge"><option value="" selected>Knowledge</option><option value="1" >Knowledge : 1 (Poor)</option><option value="2" >Knowledge : 2 (Average)</option><option value="3" >Knowledge : 3 (Good)</option><option value="4" >Knowledge : 4 (Very Good)</option><option value="5" >Knowledge : 5 (Excellent)</option></select></p>'
                    var s10 ='<center><a class="waves-effect green btn" id="'+para.video[i].path+''+i+'" onclick="gradeStudent(this.id)"><i class="material-icons right">assignment_turned_in</i>Grade</a></center></div>'
                    var s11 ='<p><b>Description : </b>'+para.video[i].description+'</p><p><b>Mail : </b>'+para.video[i].mail+'</p><center><a class="waves-effect red btn" name="'+para.video[i].path+''+i+'" id="'+i+'flag" onclick="flagInapropriate(this.id,this.name)"><i class="material-icons left">flag</i>mark inapropriate</a></center></div></div></div>'
                    var str =s1+s2+s3+s4+s5+s6+s7+s8+s9+s10+s11;
                    $('#parent').append(str)
                    cout_for_graded2 = i
                }
            
                //If no ungraded video make cout_for_graded2 =2 so first video will be mod 3 satisfied
                if(cout_for_graded2 == -1)
                {
                    cout_for_graded2 = 2
                }

                for(let i = 0; i<para.gvideo.length;i++)
                {   
                    cout_for_graded2++
                    if(cout_for_graded2%3 == 0)
                    {
                        s1 ='<div class="col  m3 offset-m1 " ><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image">'
                    }
                    else 
                    {
                        s1 ='<div class="col  m3 " ><div class="card z-depth-1" id="depthcard" onmouseover="playVideo(this)" onmouseout="normal(this)"><div class="card-image">'
                    }
                    console.log(s1)

                    //var s1 ='<div class="col  m3" ><div class="card" ><div class="card-image" style="border:1px solid black;background:black;">'
                    var s2 ='<video  class="activator" width="100%" controls muted><source src="'+para.gvideo[i].path+'" type="video/mp4"></video></div>'
                    var s3 ='<div class="card-content" id="content"><span class="card-title grey-text text-darken-4">'+para.gvideo[i].title+'<i class="material-icons right activator " style="cursor: pointer;">info</i></span><p><i class="material-icons left " style="color: #1565c0;">account_circle</i><a id='+para.gvideo[i].mail+' href="/mainpage/profile?pmail='+para.gvideo[i].mail+'" style="cursor: pointer;color: #1565c0;">'+para.gvideo[i].name+'</a></p><br>' 
                    var s4 ='<span class="badge activator" style="color: #1565c0;float: left; padding-left: 0%; margin: 0%;cursor: pointer;"><i class="material-icons left">remove_red_eye</i>'+parseInt(((para.gvideo[i].avgeye+para.gvideo[i].peeravgeye)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">record_voice_over</i>'+parseInt(((para.gvideo[i].avgvoice+para.gvideo[i].peeravgvoice)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">portrait</i>'+parseInt(((para.gvideo[i].avgconfidence+para.gvideo[i].peeravgconfidence)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">wb_incandescent</i>'+parseInt(((para.gvideo[i].avgknowledge+para.gvideo[i].peeravgknowledge)/2))+'</span></div>'
                    var s5 ='<div class="card-reveal " id="reveal"><span class="card-title black-text text-darken-4">Grade Presentation<i class="material-icons right">close</i></span>'
                    var s6 =''
                    var s7 = '<br><i class="material-icons left medium" style="color:green">check_circle</i><br><b style="color:green">Video Already Graded..!</b><br><br>'
                    var s8 = '<p><b>Description : </b>'+para.gvideo[i].description+'</p><p><b>Mail : </b>'+para.gvideo[i].mail+'</p></div></div></div>'
                    var str =s1+s2+s3+s4+s5+s6+s7+s8;
                    $('#parent').append(str)
                    
                }
            }
            
        }
    })
})

//global declaration for before grading and after grading statemets
var wait_statement = '<br><center><b style="color:red">Grading please wait...</b>  <img src="images/833.gif" alt="" height="20px" width="20px"></center>'
var graded_statement = '<br><i class="material-icons left medium" style="color:green">check_circle</i><br><b style="color:green">Graded Successfully</b><br><br>'
var wait_inapropriate = '<br><center><b style="color:red">Marking Inapropriate please wait...</b>  <img src="images/833.gif" alt="" height="20px" width="20px"></center>'
var inapropriate_statement = '<br><i class="material-icons left medium" style="color:green">check_circle</i><br><b style="color:green">Marked Inapropriate</b><br><br>'

//function for grading the student
function gradeStudent(x)
{   
    var flag = 0;
    var index = x[x.length-1]
    var eye = '#'+index+'eye'
    var voice = '#'+index+'voice'
    var confidence = '#'+index+'confidence'
    var knowledge = '#'+index+'knowledge'
    var path = x.substring(0, x.length - 1);
    var ireveal = '#'+index+'reveal'
    var irates  = '#'+index+'rates'

    //checking if all dropdowns are selected or not
    if($(eye).val()=="")
    {
        flag = 1
    }
    if($(voice).val()=="")
    {
        flag = 1
    }
    if($(confidence).val()=="")
    {
        flag = 1
    }
    if($(knowledge).val()=="")
    {
        flag = 1
    }

    if(flag==1)
    {
        alert('Please Select Values From Dropdown')
    }
    else
    {
        //storing values before empty()
        var e = $(eye).val()
        var v = $(voice).val()
        var c = $(confidence).val()
        var k = $(knowledge).val()
        //step 1 : make div empty
        $(ireveal).hide()
        $(ireveal).empty()
        //step 2 : show waiting statement
        $(ireveal).append(wait_statement)
        $(ireveal).fadeIn(600)
        
        //ajax call for grading student
        $.ajax({
            url:'/core/gradestd',
            type:'GET',
            data:{
                'eye':e,
                'voice':v,
                'confidence':c,
                'knowledge':k,
                'path':path
            },
            success:function(para){
                console.log(para)
                //step3 : replace with graded statement
                $(ireveal).hide()
                $(ireveal).empty()
                $(ireveal).append(graded_statement)
                $(ireveal).fadeIn(600)

                $(irates).empty()
                
                //updating rated value of current video
                var updatedstr = '<span class="badge activator" style="color: #1565c0;float: left; padding-left: 0%; margin: 0%;cursor: pointer;"><i class="material-icons left">remove_red_eye</i>'+parseInt(((para.video[0].avgeye+para.video[0].peeravgeye)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">record_voice_over</i>'+parseInt(((para.video[0].avgvoice+para.video[0].peeravgvoice)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">portrait</i>'+parseInt(((para.video[0].avgconfidence+para.video[0].peeravgconfidence)/2))+'</span><span class="badge activator" style="color: #1565c0;float: left;padding-left: 0%;cursor: pointer;"><i class="material-icons left">wb_incandescent</i>'+parseInt(((para.video[0].avgknowledge+para.video[0].peeravgknowledge)/2))+'</span>'
                $(irates).append(updatedstr)
            }
        })
    }
}


//function for marking inapropriate

function flagInapropriate(id,x)
{   

    var sure = confirm('Are You Sure ?')
    if(sure)
    {
        id = "#"+id
        $(id).attr("disabled","disabled")
        var index = x[x.length-1]
        var path = x.substring(0, x.length - 1);
        var ireveal = '#'+index+'reveal'
        //step 1 : make div empty
        $(ireveal).hide()
        $(ireveal).empty()
        //step 2 : show waiting statement
        $(ireveal).append(wait_inapropriate)
        $(ireveal).fadeIn(600)
        
        //ajax call for marking inapropriate
        $.ajax({
            url:'/core/flag',
            type:'GET',
            data:{
                'path':path,
            },
            success:function(para){
                console.log(para)
                //step3 : replace with graded statement
                $(ireveal).hide()
                $(ireveal).empty()
                $(ireveal).append(inapropriate_statement)
                $(ireveal).fadeIn(600)
            }
        })
    }
    
    
}

</script>

</body>
</html>