<html>
<head>
   
    <title>Upload Presentation</title>
    <link rel="icon" href="/images/logo.png">
    <!--icons  -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="css/materialize.min.css">
     <link rel="stylesheet" href="css/materialize.css">
     <link rel="stylesheet" href="css/navbar.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="css/preloader.css">

     <!-- Compiled and minified JavaScript -->
     <script src="js/materialize.min.js"></script>
     <script src="js/materialize.js"></script>
     <script type="text/javascript" src="jquery-3.2.1.min.js"></script>
     <script type="text/javascript" src="js/navbar.js"></script>
     <script>
        //Preloader 
        $(window).on('load', function() {
              $(".sk-cube-grid").fadeOut();
            $("#preloder").fadeOut("slow");
        });
    </script>
     <meta name="viewport" content="width=device-width, initial-scale=1">



    
<style>
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .default {
        cursor: default;
    }
</style>

             
</head>
<div id="preloder"> 
    
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
            <b style="font-size:15px;">SkillHancer<br> 
            
    </div>
</div>
<body>
   
    <div class="topnav" id="myTopnav" style="width: 100%;">
        <a href="/mainpage/" class="active"><i class="fa fa-fw fa-home"></i> SkillHancer</a>
        <a href="/upload"><i class="fa fa-fw fa-cloud-upload "></i> Upload Presentation</a>
        <a href="/mainpage/myprofile"><i class="fa fa-fw fa-user"></i> Profile</a>
        <a href="/auth/logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="material-icons">apps</i>
        </a>
        </div>
    <br>

<div id="parent">
    <form action="/mainpage/uploadproject" method="post" id="form_id" enctype="multipart/form-data" >
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card " style="border: solid 2px black;">
                    <div class="card-content ">
                        <span class="card-title">Upload Presentation</span>
                        <p style="color: red;">* Title Must Be less than 25 characters</p>
                        <p style="color:red">* File size must be less than 15 MB</p>
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">title</i>
                                        <input id="title" name="title" type="text" class="validate" maxlength="25" required>
                                        <label for="title">Title</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">description</i>
                                        <textarea id="description"  name="description" type="text" class="materialize-textarea" required></textarea>
                                        <label for="description">Description</label>
                                    </div>
                                </div>
                                <div class="file-field input-field">
                                    <div class="btn blue-grey darken-4">
                                    <span>File</span>
                                    <input type="file" name="user_uploaded_video" id="user_uploaded_video" accept=".mp4" required>
                                    </div>
                                    <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" id="filepath">
                                    </div>
                                </div>
                                
        
                            
                                <center>
                                    <a class="black btn-small" id='removebtn'>Remove Upload</a><br><br>
                                    <p style="color: black; font-size: large;" id="videop">Video Preview </p>
                                </center>
                                <br>
                                <div id="videopreview" class="row" style="display:none;">
                                    
                                    <video  src="" id="vid" class="activator"  width="100%" height="50%" style="border:solid;background-color:black;" controls muted></video>
                                    
                                </div>
                            </div>
                        </div>
                        <div id="atag">
                            <a style="color:white" onclick="form_id.submit();" class="default" id="btn" >
                                <div class="card-action blue darken-3" >
                                    <center>
                                    Submit
                                    </center>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="row" id="loading">
    <div class="col s12 m6 offset-m3">
      <div class="card " style="border: solid 2px black;">
            <div class="card-content ">
                <span class="card-title">Uploading Project... <img src="images/833.gif" alt="" height="20px" width="20px"></span>
                <p>Please wait we are analizing and uploading your project</p>
                <p>This we process will take some time depending on:</p>
                <ol>
                    <li>Size Of File</li>
                    <li>Internet Speed</li>
                    <li>Content Of Video</li>
                </ol>
                <p style="color:red"><b>Do not perform any other operation while project is being uploaded</b></p>
                <p style="color:red"><b>You will be automatically redirected to your profile after file is uploaded</b></p>
            </div>
            <a style="color:white"  >
                <div class="card-action blue darken-3">
               
                </div>
            </a>

        </div>
    </div>
  </div>



<script>
$(document).ready(function(){
    $('#videopreview').hide();
    $('#removebtn').hide();
    $('#videop').hide();
    $('#loading').hide();
    $('#atag').hide()
    
    $('#btn').click(function(){
        $('#parent').hide()
        $('#loading').fadeIn(600)
    })
    
    $('#removebtn').click(function(){

        $('#vid').attr('src',"");
        $('#user_uploaded_video').val("");
        $('#filepath').val("");
        $('#videop').hide();
        $('#videopreview').hide();  
        $('#removebtn').hide();
        $('#title').val("");
        $('#description').val("")
        $('#atag').hide();

    })
})





$('#user_uploaded_video').change(function(){


    $('#removebtn').show();
        var fi = document.getElementById('user_uploaded_video'); 
        var videotitle=$('#title').val();
        var videodescript=$('#description').val();
        var videoext=$('#user_uploaded_video').val().split('.');
        var checkvideo=videoext[1];
        

        if(checkvideo!='mp4')
        {
            alert('Invalid File Format,Only MP4 files accepted...!')
            $('#user_uploaded_video').val("");
        }
        // Check if any file is selected. 
        if (fi.files.length > 0) { 

            
            for (let i = 0; i <= fi.files.length - 1; i++) { 
  
                var fsize = fi.files.item(i).size; 
                var file = Math.round((fsize / 1024)); 
                // The size of the file. 
               
                if (file >= 15000) { 
                    alert("File too Big, please select a file less than 15mb"); 
                    $('#user_uploaded_video').val("");
                      $('#atag').hide()
					 }
                else if(videotitle=="")
                {
                    alert('Please Add Video Title...!')
                    //$('#atag').hide();
                } 
                else if(videodescript=="")
                {
                    alert('Please Add Video Description...!')
                    //$('#atag').hide();
                } 
                else
                {
                    $('#videopreview').slideDown("slow");
                    $('#videop').show();
                    var $source = $('#vid');
                    $source[0].src = URL.createObjectURL(this.files[0]);
                    $source[0].load();
                    $('#atag').fadeIn(600);
                }

            } 
        } 
    }) 
</script>
</body>
</html>